:root {
  --ff-overpass: "Overpass", sans-serif;
  --op-400: 400;
  --op-700: 700;
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 15%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --Btn-color: hsl(213, 19%, 20%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Helper */

#hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

/*Actual CODE */
body {
  background-color: var(--Very-Dark-Blue);
  font-family: var(--ff-overpass);
  display: grid;
  align-items: center;
  padding: 1.3rem;
  justify-content: center;
}

.main-card-component {
  background-color: var(--Dark-Blue);
  padding: 1rem;
  border-radius: 1rem;
}

.star-holder {
  margin-block-end: 0.8rem;
}

.star-holder img {
  border-radius: 100%;
  padding: 0.7rem;
  background-color: var(--Btn-color);
}

.title {
  color: var(--White);
  font-size: 1.5rem;
  margin-block: 0.25em;
}

.info {
  color: var(--Light-Grey);
  font-size: 0.925rem;
  margin-block-end: 1.3rem;
}

.rating__flex {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}

.rating__flex>input[type=radio] {
  background-color: var(--Btn-color);
  color: var(--Medium-Grey);
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  width: 3rem;
  padding: 0.8rem;
  text-align: center;
  font-weight: var(--op-700);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rating__flex>input:hover {
  transition: 0.15s ease-in;
  color: var(--White);
  background-color: var(--Orange);
}

.cta {
  margin-block: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background: var(--Orange);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: var(--op-700);
}



.cta:hover,
.cta:focus-within {
  background-color: var(--White);
  color: var(--Orange);
  transition: 0.15s ease-in-out;
}

.cta:active {
  background-color: var(--Medium-Grey);
}

/* Alt */
.alternative {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;

}

.nmbr-of-stars {
  --Light-Grey: hsl(217, 12%, 18%);
  background-color: var(--Light-Grey);
  border-radius: 2rem;
  width: fit-content;
  margin: 0 auto 1.5rem auto;
  padding-inline: .8rem;
  padding-block: .4rem;
  color: var(--Orange);
}

.alt.info {
  margin-block-end: 0;
}

.img-section {
  margin-block-end: 1.4rem;
}

.alternative>* {
  text-align: center;
}

@media(min-width:570px) {
  .main-card-component {
    border-radius: 2rem;
    max-width: 25rem;
    padding: 1.5rem 2rem .8rem 2rem;
  }

  .alternative {
    padding: 2.5rem 1.5rem;
  }

  .alt.info {
    text-align: center;
  }

  .rating-section {
    margin-bottom: .8rem;
  }
}